@import "src/assets/sass/variable";
@import "src/assets/sass/media";

.header-up-wrapper-fixed {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $white;
    box-shadow: -2.5px 2.5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    margin-top: 0 !important;
    padding-bottom: 10px;
}

#header-wrapper {
    display: flex;
    flex-direction: column;

    .down-header-wrapper{
        display: none;
    }

    .header-up-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .parent-position {
        position: relative;
    }

    .header-up-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        margin-top: 1em;

        .logo-parent {
            display: flex;
            flex: 0.2;
            justify-content: center;

            img {
                width: 100px;
            }
        }

        .search-input-wrapper {
            display: flex;
            flex: 0.6;
            position: relative;

            .parent-search-text {
                display: flex;
                background-color: $pine-green;
                align-items: center;
                padding: 8px 17px 8px 30px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                .search {
                    color: white;
                }

                .triangel-left {
                    width: 0;
                    height: 0;
                    border-top: 18px solid transparent;
                    border-right: 18px solid $pine-green;
                    border-bottom: 18px solid transparent;
                    position: absolute;
                    right: 5.5em;
                    z-index: 13;
                }
            }

            .search-input {
                width: 100%;
                z-index: 12;
                height: auto;
                padding: 0 25px;
                border: rgba(112, 112, 112, 0.33);
                box-shadow: 0px 0px 7px 0px #eaeff4;
                outline-color: lightgray;
            }

            .parent-search-icon {
                background-color: $pine-green;
                display: flex;
                align-items: center;
                padding: 15px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }

        .account--cart-wrapper {
            display: flex;
            flex: 0.2;
            justify-content: center;

            .parent-account {
                display: flex;
                border: 1px solid lightgray;
                border-radius: 10px;
                align-items: center;
                padding: 10px 15px;
                margin-left: 8px;

                p {
                    margin-bottom: 0;
                    padding-right: 10px;
                }
            }

            .cart-parent {
                display: flex;
                align-items: center;
                margin-right: 10px;
                border-right: 1px solid lightgray;
                padding-right: 15px;
                position: relative;
                padding-right: 25px;

                .badge {
                    position: absolute;
                    height: 15px;
                    width: 15px;
                    background-color: $mandy;
                    color: white;
                    border-radius: 50%;
                    top: 0;
                    right: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                }
            }
        }
    }

    .header-down-wrapper {
        display: none;
    }

    .header-down-content {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        ul {
            display: flex;
            flex: 1;
            justify-content: space-between;
            margin-bottom: 0;

            li {
                .chevron-color {
                    color: #333;
                }
            }
        }
    }

    .toggle {
        display: none;
        position: absolute;
        top: 16px;
        right: 25px;
        background-color: unset;
        border-style: unset;
    }

    .right-drawer {
        position: absolute;
        top: 0;
        right: 0;
        width: 0; /* initially */
        overflow: hidden;
        height: 100vh;
        padding-left: 0; /* initially */
        border-left: 1px solid $oxford-blue;
        background: $oxford-blue;
        z-index: 200;
        transition: all 0.2s;

        .drawer-close-wrapper {
            display: flex;
            justify-content: center;
            text-align: right;
            margin: 5px;

            .close {
                display: flex;
                border-style: unset;
                font: unset;
                font-size: 21px;
                background-color: unset;
                text-shadow: none;
                opacity: 1;

                p {
                    color: $white;
                    margin-top: 1em;

                    span {
                        margin-right: 2rem;
                        color: $white;
                    }
                }
            }
        }

        .active {
            background-color: $quick-sand;
            border-radius: 5px;
            padding-left: 1em;
            margin-right: 5px;
            text-align: center;
        }

        .row-menu-item {
            display: flex;
            margin: 1em 10px;

            a {
                color: $white;
                padding-right: 5px;
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
            }
        }
    }

    .drawer-mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 0; /* initially */
        height: 100vh;
        background: #000;
        opacity: 0.3;
        z-index: 199;
        transition: opacity 0.2s;
    }
}

/* responsive */

@media (min-width: 1904px) {
    .container {
        max-width: 1185px;
    }
}
@media (max-width: 1560px) {
    #header-wrapper {
        .logo-parent {
            flex: 0.1 !important;
        }
    }
}

@media (max-width: 1265px) {
    #header-wrapper {
        .logo-parent {
            img {
                display: none;
            }
        }

        .header-down-content {
            display: none;
        }

        .toggle {
            display: flex;
        }
    }
}

@media (max-width: 1123px) {
    .header-up-content {
        .search-input-wrapper {
            flex: 0.5 !important;
        }
        .account--cart-wrapper {
            flex: 0.3 !important;
        }
    }
}

@media (max-width: 930px) {
    .search-input-wrapper-change-position {
        display: flex;
        flex: 0.6;
        position: relative;
        margin-top: 1em;

        .parent-search-text {
            display: flex;
            background-color: $pine-green;
            align-items: center;
            padding: 8px 17px 8px 30px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            .search {
                color: white;
            }

            .triangel-left {
                width: 0;
                height: 0;
                border-top: 18px solid transparent;
                border-right: 18px solid $pine-green;
                border-bottom: 18px solid transparent;
                position: absolute;
                right: 5.5em;
                z-index: 13;
            }
        }

        .search-input {
            width: 100%;
            z-index: 12;
            height: auto;
            padding: 0 25px;
            border: rgba(112, 112, 112, 0.33);
            box-shadow: 0px 0px 7px 0px #eaeff4;
            outline-color: lightgray;
        }

        .parent-search-icon {
            background-color: $pine-green;
            display: flex;
            align-items: center;
            padding: 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
}

@media (max-width: 759px) {
    .header-up-content {
        .account--cart-wrapper {
            flex: 0.9 !important;
            justify-content: flex-end !important;
        }
    }
}

@media (max-width: 485px) {
    #header-wrapper {
        .header-up-content {
            .account--cart-wrapper {
                .parent-account {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        .toggle {
            top: 18px;
        }
    }
}

@media (max-width: 420px) {
    #header-wrapper {
        .header-up-content {
            .account--cart-wrapper {
                .parent-account {
                    padding: 10px 8px;
                }
            }
        }

        .toggle {
            top: 18px;
        }

        .search-input-wrapper-change-position {
            display: flex;
            flex: 0.6;
            position: relative;
            margin-top: 1em;

            .parent-search-text {
                padding: 8px 10px !important;

                .search {
                    font-size: 14px;
                }

                .triangel-left {
                    display: none;
                }
            }

            .search-input {
                padding: 0 10px;
            }

            .parent-search-icon {
                padding: 8px 10px;
            }
        }
    }
}
