@font-face {
    font-family: BNazanin;
    src: url("../fonts/BNazanin/BNazanin.woff") format("woff"), url("../fonts/BNazanin/BNazanin.woff2") format("woff2"),
        url("../fonts/BNazanin/BNazanin.ttf") format("truetype"), url("../fonts/BNazanin/BNazanin.eot") format("eot"),
        url("../fonts/BNazanin/BNazanin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: IRANSans;
    src: url("../fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"),
        url("../fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"),
        url("../fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype"),
        url("../fonts/IRANSans/eot/IRANSansWeb.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}
