// box-shadow
$box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);

// colors
$white: #fff;
$black: #000;
$pine-green: #007174;
$mandy: #e25959;
$santa-fe: #aa755a;
$wild-sand: #f5f5f5;
$dove-gray: #707070;
$mine-shaft: #333333;
$oxford-blue: #35404d;
$quick-sand: #bc9886;
